.group {
  margin-top: 50px;
}
.dev {
  background-color: #B9D6F2 !important;
}
.speaking {
  background-color: #0353A4 !important;
  color: white;
}
.leader {
  color: #2185D0;
  background-color: #061A40 !important;
}
.link {
  text-decoration: underline !important;
}
